* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #DDDDDD;
  background: #1E1E1E;
  background-image: url('./svgs/background.svg');
  background-position: center;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background: #2B2B2B;
  min-height: 100dvh;
  padding: 0.5rem 2rem 1rem;
  text-align: center;
}

h1 {
  margin-bottom: 5rem;
}

button {
  padding: 1rem 2rem;
  font-size: 25px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

button:hover {
  background: green;
  color: white;
}

p {
  display: none;
  color: gray;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

dialog {
  border-radius: 5px;
  margin: auto;
  padding: 3rem 3rem 2rem 3rem;
  width: 30rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog > button {
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}

.controls {
  margin-top: 2rem;
}

.opponent-info {
  margin: 2rem auto 8rem;
  min-height: 2rem;
  max-height: 2rem;
}

#reload {
  display: none;
  margin: auto;
  color: gray;
  background: none;
  border: none;
}

#reload:hover {
  color: white;
}

#reroll {
  display: none;
  margin: auto;
  margin-top: 1rem;
}

#roll-all {
  margin-top: 3rem;
}

.die-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

.die {
  --die-width: 100px;
  --die-height: 100px;
  position: relative;
  width: var(--die-width);
  height: var(--die-height);
  transform-style: preserve-3d;
  transition: 250ms linear;
  transform: rotateX(-15deg) rotateY(-15deg);
}

.lock-row {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: -28.25rem;
  left: 4.1rem;
}

.lock-row input[type=checkbox] {
  appearance: none;
  background-color: rgba(255, 0, 0, 0.2);
  background-image: url('./svgs/locked.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  height: 3rem;
  margin: 1.63rem;
  padding: 1.5rem;
}

.lock-row input[type=checkbox]:checked {
  background-color: rgba(0, 225, 0, 0.2);
  background-image: url('./svgs/unlocked.svg');
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid ivory;
  border-radius: 15%;
  background: linear-gradient(-135deg, ivory, #dddddd);
  color: black;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--die-width) / 2);
  user-select: none;
}

.face::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 15%;
  background: ivory;
  transform: translateZ(-1px);
}

.face-1 {
  transform: translateZ(calc(var(--die-width) / 2));
}

.face-2 {
  transform: rotateX(90deg) translateZ(calc(var(--die-width) / 2)) ;
}

.face-3 {
  transform: rotateY(-90deg) translateZ(calc(var(--die-width) / 2)) ;
}

.face-4 {
  transform: rotateY(90deg) translateZ(calc(var(--die-width) / 2)) ;
}

.face-5 {
  transform: rotateX(-90deg) translateZ(calc(var(--die-width) / 2)) ;
}

.face-6 {
  transform: rotateX(180deg) translateZ(calc(var(--die-width) / 2)) ;
}

@media screen and (min-width: 720px) {
  main {
    padding: 1rem 7.8rem;
    margin: 0 auto;
    width: 65.6rem;
  }
}
